.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.link {
  padding: 8px 12px;
  text-decoration: none;
  &.active {
    background: var(--color-primary);
    color: #fff;
  }
}
