.container {
  --padding: 20px;
  @media (--tablet) {
    --padding: 24px;
  }
  @media (--desktop) {
    --padding: 32px;
    max-width: 90ch;
  }

  padding-left: var(--padding);
  padding-right: var(--padding);
  width: 100%;
  margin: 0 auto;
}
