.main {
  margin-bottom: 5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.titleBlock,
.subtitleBlock,
.extraBlock {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
}

.titleBlock {
  z-index: 2;
  transition: transform 0.1s;
  transform: rotate(-0.9deg);
  transform-origin: left center;
  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      transform: rotate(-0.7deg) scale(1.01);
    }
  }
}

.subtitleBlock {
  z-index: 1;
  transition: transform 0.1s;
  margin-top: 0.95rem;
  transform: rotate(0.2deg);
  transform-origin: left center;
  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      transform: rotate(0.5deg) scale(1.01);
    }
  }
}

.extraBlock {
  --base-margin: 1.3rem;
  margin-top: var(--base-margin);
  transform: rotate(2.2deg);
  @media (--tablet) {
    --base-margin: 1.5rem;
  }
  @media (--desktopLG) {
    --base-margin: 1.7rem;
  }
  &.onlyTitle {
    margin-top: calc(var(--base-margin) + 0.2rem);
  }
}

.title,
.subtitle,
.extra {
  background-color: #fff;
  margin: 0;
  display: inline;
  white-space: pre-wrap;
  box-decoration-break: clone;
  line-height: 1.5;
  padding: 0.6rem;
}

.title {
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  padding: 0.2rem 0.6rem 0.4rem;
  & > a {
    text-decoration: none;
    color: #e77e65;
    position: relative;
    &:hover {
      color: #c73f1f;
    }
  }
  &.onlyTitle {
    & > a {
      text-decoration: none;
      color: var(--color-midBlue);
      &:hover {
        color: var(--color-darkBlue);
      }
    }
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  & > a {
    position: relative;
    color: var(--color-darkBlue);
    text-decoration: none;
    &:hover {
      color: var(--color-midBlue);
    }
  }
}

.extra {
  color: #000;
  & > * {
    position: relative;
  }
  & > a {
    color: var(--color-midBlue);
  }
}
