@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('../../static/fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Bold.woff2') format('woff2'),
    url('../../static/fonts/inter/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-roman.var.woff2') format('woff2');
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-default);
  line-height: 1.55;
  font-size: 1.5rem;
  color: var(--color-text-base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'salt';
  @supports (font-variation-settings: normal) {
    font-family: var(--font-default-var);
  }
  @media (--tablet) {
    font-size: 1.6rem;
  }
  @media (--desktop) {
    font-size: 1.7rem;
  }
}

a {
  color: var(--color-primary);
  transition: color 0.3s;
  text-decoration: none;

  &:hover {
    color: var(--color-primary-alternate);
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  font-weight: 700;
  hyphens: none;
  /* font-family: var(--font-alternate); */
}

h1 {
  color: var(--color-text-darker);
  font-size: 2.4rem;
  margin-top: 3rem;
  &:first-child {
    margin-top: 0;
  }
  @media (--tablet) {
    font-size: 3rem;
  }
  @media (--desktop) {
    font-size: 3.4rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
  color: var(--color-text-dark);
  margin-top: 2.8rem;
  @media (--tablet) {
    font-size: 2.2rem;
  }
  @media (--desktop) {
    font-size: 2.6rem;
  }
}

h3,
.h3 {
  font-size: 1.7rem;
  margin-top: 2.6rem;
  @media (--tablet) {
    font-size: 1.9rem;
  }
  @media (--desktop) {
    font-size: 2.1rem;
  }
}

p {
  margin-top: 0.8rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
