@custom-media --tablet (min-width: 740px);
@custom-media --desktop (min-width: 960px);

:root {
  /* Breakpoints */
  --bp-tablet: 740px;
  --bp-desktop: 960px;

  /* Typography */
  --font-default: 'Inter', sans-serif;
  --font-default-var: 'Inter var', sans-serif;
  --font-alternate: 'Merriweather', serif;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: #5800ff;
  --color-primary-alternate: #290077;
  --color-text-base: #606474;
  --color-text-light: #b0b2bd;
  --color-text-dark: #32343c;
  --color-text-darker: #1b1c20;
  --color-logo: #e95d00;

  /* Borders */
  --border-light: 1px solid rgba(#b4afa4, 0.3);
}
