.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--hf-padding);
  background: rgba(#26087c, 0.65);
  background-blend-mode: overlay;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 92%);
  @media (prefers-reduced-motion: no-preference) {
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    &.invisible {
      opacity: 0.2;
      transform: translateY(-1rem);
    }
  }
}

.logoLink {
  display: inline-block;
  margin-bottom: -4px;
  @media (--tablet) {
    margin-bottom: -6px;
  }
}
