.trigger {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  transition: opacity 0.4s, background-size 0.6s, transform 0.2s ease-out;
  opacity: 0;
  transform: translateY(-3vh);
  background: linear-gradient(-45deg, rgba(#26087c, 0.9), rgba(#e77e65, 0.9));
  color: #fff;
  border: 0;
  font-family: var(--font-default);
  font-size: 0.7rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  background-size: 100%;
  pointer-events: none;
  z-index: 10;
  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
  }
  &:hover,
  &:focus {
    background-size: 200%;
    transform: rotate(-90deg);
    outline: 0;
  }
  &:active {
    opacity: 0.7;
  }
}

.secondaryNav {
  position: fixed;
  z-index: 20;
  background: var(--color-darkBlue);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: transform, opacity, border-radius;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.15s;
  border-radius: 0 0 0 25%;
  pointer-events: none;
  transform: scale(0.2, 0.12) translate(75%, -50%) skew(45deg) rotate(20deg);
  transform-origin: top right;
  opacity: 0.7;
  &.open {
    opacity: 1;
    pointer-events: inherit;
    border-radius: 0;
    transform: scale(1);
    transition-duration: 0.4s, 0.6s, 0.4s;
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition-delay: 0s;
    & .link {
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.4s, 0.2s;
      transition-delay: 0.15s;
    }
  }
}

.link {
  color: #fff;
  display: block;
  font-size: 2rem;
  opacity: 0;
  transform: scale(0.3) translate(50%, -50%) skew(45deg) rotate(20deg);
  transform-origin: top right;
  transition-property: transform, opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  transition-delay: 0;
  &:hover {
    color: #e77e65;
  }
}

.linkActive {
  text-decoration: line-through;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  &:hover {
    color: #e77e65;
  }
}
