.link {
  color: rgba(#fff, 0.95);
  margin-left: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.35s ease-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  @media (hover: hover) {
    &:nth-child(1),
    &:nth-child(3) {
      --transform-Y: -0.1rem;
    }
    &:nth-child(2),
    &:nth-child(4) {
      --transform-Y: 0.1rem;
    }
    &:nth-child(1),
    &:nth-child(2) {
      --transform-X: 0.4rem;
    }
    &:nth-child(3),
    &:nth-child(4) {
      --transform-X: -0.4rem;
    }
    &:hover {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
      color: #fff;
      @media (prefers-reduced-motion: no-preference) {
        transform: translate3d(var(--transform-X), var(--transform-Y), -1.2rem);
      }
    }
  }
  @media (--tablet) {
    margin-left: 1.2rem;
  }
  @media (--desktop) {
    margin-left: 1.5rem;
  }
}

.linkActive {
  opacity: 0.5;
  text-decoration: line-through;
}
