@font-face {
  font-family: "Mission Gothic";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Mission Gothic Regular"), local("Mission-Gothic-Regular"),
    url(./mission_gothic_regular-webfont.woff2) format("woff2"),
    url(./mission_gothic_regular-webfont.woff) format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Mission Gothic Regular Italic"),
    local("Mission-Gothic-Regular-Italic"),
    url(./mission_gothic_regular_italic-webfont.woff2) format("woff2"),
    url(./mission_gothic_regular_italic-webfont.woff) format("woff");
}

@font-face {
  font-family: "Mission Gothic";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Mission Gothic Bold"), local("Mission-Gothic-Bold"),
    url(./mission_gothic_bold-webfont.woff2) format("woff2"),
    url(./mission_gothic_bold-webfont.woff) format("woff");
}
