@import './vars.css';

html {
  font-size: calc(18px + (26 - 18) * ((100vw - 480px) / (2600 - 300)));
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-optical-sizing: auto;
  /* font-feature-settings: 'salt'; */
  line-height: 1.55;
  background: var(--gradient-main);
  background-size: contain;
  background-attachment: fixed;
  min-height: 100vh;
  font-weight: 300;
  color: var(--color-darkBlue);
}

h1,
h2 {
  font-family: var(--font-secondary);
  line-height: 1.1;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

a {
  color: var(--color-darkBlue);
}

b,
strong {
  font-weight: 500;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
  }
}
