/**
* VARS
*/

@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1100px);
@custom-media --desktopLG (min-width: 1600px);
@custom-media --desktopXL (min-width: 2200px);

:root {
  /**
   * FONT
   */
  --font-primary: 'Inter var', sans-serif;
  --font-secondary: 'Fjord One', serif;
  /**
   * FONT-FAMILY
   */
  --font-size-h1: 2.4rem;
  @media (--tablet) {
    --font-size-h1: 3.2rem;
  }
  --font-size-h2: 1.6rem;
  @media (--tablet) {
    --font-size-h2: 2.4rem;
  }
  /**
   * COLOR
   */
  --color-lightBlue: #4204fb;
  --color-midBlue: #3912a9;
  --color-darkBlue: #26087c;
  --color-title: rgba(#3912a9, 0.9);
  /**
   * GRADIENTS
   */
  --gradient-main: linear-gradient(
    122.24deg,
    rgba(#f4c44b, 0.7) 0.17%,
    rgba(#db4379, 0.7) 99.82%
  );
  /**
   * SIZE
   */
  --size-outer: 1.5rem;
  --hf-padding: 1rem;
  @media (--tablet) {
    --size-outer: 2rem;
    --hf-padding: calc(var(--size-outer) - 1.5 * 1vw) var(--size-outer);
  }
  @media (--desktop) {
    --size-outer: 2.5rem;
  }
  @media (--desktopLG) {
    --size-outer: 3rem;
  }
  @media (--desktopXL) {
    --size-outer: 3.5rem;
  }
  /**
   * EASING
   */
  --easing-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --easing-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
