.wrapper {
  position: fixed;
  display: block;
  background: url(../../images/jmlweb-xs.jpg) center center no-repeat;
  background-color: red;
  background-size: cover;
  mix-blend-mode: difference;
  background-blend-mode: difference;
  opacity: 0.4;
  top: 6rem;
  right: var(--size-outer);
  width: 8rem;
  height: 10rem;
  z-index: -1;
  --column-size: 0;
  @media (--desktop) {
    --column-size: calc(8rem + 10 * 2vw);
  }
  @media (--desktopLG) {
    --column-size: calc(12rem + 12 * 2vw);
  }
  @media (--desktopXL) {
    --column-size: calc(16rem + 14 * 2vw);
  }
  @media (--tablet) {
    top: 10rem;
    width: 15rem;
    height: 20rem;
    background-image: url(../../images/jmlweb-sm.jpg);
  }
  @media (--desktop) {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
    width: var(--column-size);
    background-image: url(../../images/jmlweb-md.jpg);
  }
  @media (--desktopLG) {
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    background-image: url(../../images/jmlweb-lg.jpg);
  }
  @media (--desktopXL) {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
    background-image: url(../../images/jmlweb-xl.jpg);
  }
  &.fake {
    background-image: none;
    background-color: #a9bca1;
    opacity: 1;
  }
}
