.footer {
  margin-top: 32px;
  padding-bottom: 24px;
  @media (--tablet) {
    margin-top: 44px;
    padding-bottom: 32px;
  }
  @media (--desktop) {
    margin-top: 72px;
    padding-bottom: 48px;
  }
}

.flexGrid {
  display: flex;
  justify-content: space-between;
}

.author {
  font-size: 16px;
  color: var(--color-text-light);
  @media (--tablet) {
    font-size: 17px;
  }
  @media (--tablet) {
    font-size: 18px;
  }
}

.socialLink {
  margin-left: 16px;
  display: inline-block;
  transition: transform 0.35s ease-out;
  @media (--tablet) {
    margin-left: 20px;
  }
  @media (--desktop) {
    margin-left: 24px;
  }
  @media (hover: hover) {
    &:hover {
      transform: rotateY(20deg) translateY(-6px);
    }
  }
}
