.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 400;
}

.titleText {
  margin-left: 0.7rem;
}

.link {
  color: rgba(#4a4453, 0.7);
  text-decoration: none;
}

.linkActive {
  color: var(--color-brand);
}

.nav {
  font-size: 2rem;
  margin-bottom: -4px;
}

nav .link {
  margin-left: 15px;
}

h1 .link {
  display: flex;
  align-items: center;
}
