.wrapper {
  border-top: 4px solid #3b00aa;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  &::before {
    content: '';
    display: block;
    border-top: 4px solid #1fe8c3;
  }
}

.footerPusher {
  margin-top: auto;
}
