.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 6rem var(--hf-padding);
}

.title {
  margin: 1rem 0 3.5rem;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
  color: rgba(#3912a9, 0.9);
  mix-blend-mode: hard-light;
  --border: 1px dotted rgba(#fff, 0.5);
  border-bottom: var(--border);
  padding-bottom: 1rem;
  position: relative;
}
