.post {
  border-top: var(--border-light);
  &:last-child {
    border-bottom: var(--border-light);
  }
  padding: 1.6rem 0;
  @media (--tablet) {
    padding: 2.2rem 0;
  }
  @media (--desktop) {
    padding: 2.8rem 0;
  }
}

.title {
  margin-top: 0;
  & > a {
    color: var(--color-text-dark);
    &:hover {
      color: var(--color-primary-alternate);
    }
  }
}

.blockLink {
  display: block;
}

.tags {
  margin: 4px 0 0;
  padding: 0;
  list-style: none;
  & > li {
    display: inline-block;
    margin-right: 8px;
    color: var(--color-primary-alternate);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 32px;
    display: inline-flex;
    align-items: center;
    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--color-logo);
      margin-left: 8px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
