.title {
  padding: 3.6rem 0 2rem;
  border-bottom: 4px solid #3b00aa;
}

.headerExtra {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
  margin-bottom: 24px;
  @media (--tablet) {
    padding-top: 8px;
  }
  & > * {
    margin-right: 8px;
    &::after {
      content: '⌬';
      display: inline-block;
      margin-left: 8px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.date {
  font-weight: 700;
  font-size: 13px;
  color: var(--color-text-light);
  @media (--tablet) {
    font-size: 14px;
  }
}

.readingTime {
  font-size: 14px;
  @media (--tablet) {
    font-size: 15px;
  }
}
